<%- include('../partials/head') %> <%- include('../partials/header') %>
<body>
  <main>
    <h1>Dashboard</h1>
    <div class="dashboard-container">
      <!-- Add a new item container -->
      <div class="add-item-container">
        <h2>Add a New Item</h2>
        <form
          action="/products"
          method="POST"
          enctype="multipart/form-data"
          class="dashboard-form"
        >
          <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
          </div>

          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required step="0.01" />
          </div>

          <div class="form-group">
            <label for="image">Product Image:</label>
            <input type="file" id="image" name="image" accept="image/*" />
          </div>

          <button type="submit" class="dashboard-button">Create Product</button>
        </form>
      </div>

      <div class="existing-items-container">
        <h2>Existing Items</h2>
        <div class="existing-items">
          <% existingProducts.forEach((product) => { %>
          <div class="item">
            <img
              src="<%= product.imageUrl %>"
              class="dashboard-product-image"
            />
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <p>Price: $<%= product.price.toFixed(2) %></p>
            <button class="delete-btn" data-product-id="<%= product._id %>">
              Delete
            </button>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </main>
</body>

<%- include('../partials/footer') %>
